@import url(./__text-area/bascet__text-area.css);
@import url(./__box-block/bascet__box-block.css);
@import url(./__right-small-box/bascet__right-small-box.css);

.bascet__bottom-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media all and (max-width: 1200px) {
  .bascet__bottom-box {
    flex-direction: column;
    align-items: center;
  }
}