@import url(./__span-size-top/bascet__span-size-top.css);
@import url(./__span-size-bottom/bascet__span-size-bottom.css);

.bascet__size-box {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media all and (max-width: 1200px) {
  .bascet__size-box {
    width: 100%;
    margin-bottom: 90px;
  }
}